<p-toast key="tst"></p-toast>
<div class="grid">
	<div class="col-12">
		<div class="card">
            <p-panel header="Recetas" [collapsed]="false" class="line-height-3 m-0">
                <ng-template pTemplate="icons">
                    <button pButton label="Agregar receta" icon="pi pi-plus-circle" class="p-button-secondary p-button-xs p-button-outlined mr-2" (click)="new()"></button>
                </ng-template>
                <p-table [value]="lstData" [loading]="loading" styleClass="p-datatable-gridlines"  [rowHover]="true" responsiveLayout="scroll" [scrollable]="true" class="m-1">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Fecha</th>
                            <th>Descripcion</th>
                            <th>Indicaciones</th>
                            <th>Paciente</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>
                                {{data.created_at | date: 'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{data.description}}
                            </td>
                            <td>
                                {{data.indicaciones}}
                            </td>
                            <td>
                                {{data.patient}}
                            </td>
                            <td>
                                <button (click)="edit(data)"
                                pButton icon="pi pi-user-edit" pTooltip="Editar" class="text-primary-600" tooltopPosition="top"
                                style="width: auto;background: none;border:0;padding:5px;"></button>
                                <button (click)="delete($event,data)"
                                pButton icon="pi pi-trash" pTooltip="Eliminar" class="text-red-500" tooltopPosition="top"
                                style="width: auto;background: none;border:0;padding:5px;"></button>
                                <button (click)="pdf(data)"
                                pButton icon="pi pi-file" pTooltip="Generar PDF" class="text-primary-500" tooltopPosition="top"
                                style="width: auto;background: none;border:0;padding:5px;"></button>
                                <p-confirmPopup key="deleteReceta{{data.id}}"></p-confirmPopup>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr><td colspan="12">No se encontró información</td></tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr><td colspan="12">Cargando información, espere porfavor</td></tr>
                    </ng-template>
                </p-table>
                <p-paginator [rows]="req.limit" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsOptions"
                [showCurrentPageReport]="true" [first]="first" currentPageReportTemplate="Total : {totalRecords} registros" (onPageChange)="changePage($event)"></p-paginator>
            </p-panel>
        </div>
        <p-dialog [header]="titleForm" [(visible)]="isDialog" [modal]="true" class="p-fluid" [style]="{width:'450px'}">
            <ng-template pTemplate="content">
                <form [formGroup]="formReceta" enctype="multipart/form-data">
                    <div class="col-12">
                        <span class="p-float-label">
                            <textarea class="p-inputtext p-component p-element" [(ngModel)]="receta.description" id="description" rows="10" cols="30" formControlName="description"
                            placeholder="Ingrese la descripcion"></textarea>
                            <label for="description">Descripcion</label>
                        </span>
                        <small class="ng-dirty ng-invalid p-error" *ngIf="submitted && formReceta.get('description')?.hasError('required')">Ingresa la descripcion</small>
                    </div>
                    <div class="col-12">
                        <span class="p-float-label">
                            <textarea class="p-inputtext p-component p-element" [(ngModel)]="receta.indicaciones" id="indicaciones" rows="10" cols="30" formControlName="indicaciones"
                            placeholder="Ingrese las indicaciones"></textarea>
                            <label for="indicaciones">Indicaciones</label>
                        </span>
                        <small class="ng-dirty ng-invalid p-error" *ngIf="submitted && formReceta.get('indicaciones')?.hasError('required')">Ingrese las indicaciones</small>
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [loading]="loadingSave" (click)="save(receta)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

